@import "tailwindcss";

@theme {
    --color-primary: #FFF5F2;
    --color-secondary: #FF8FB1;
    --color-text: #064232;

    --color-accent: #87A665;
    --color-accent-hover: #546f39;
}

@font-face {
    font-family: "LaObrige";
    src: url("/font/LaObrige.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Kaftanl";
    src: url("/font/kaftanl.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("/font/Montserrat-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat-Bold";
    src: url("/font/Montserrat-Medium.ttf") format("truetype");
    font-weight: bolder;
    font-style: normal;
}

@layer base {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Montserrat", sans-serif;
        scroll-behavior: smooth;
    }

    ::-webkit-scrollbar {
        display: none;
    }

    html,
    body {
        -ms-overflow-style: none;
        /* IE dan Edge */
        scrollbar-width: none;
        /* Firefox */
    }

}

.bold-text {
    font-family: "Montserrat-Bold", sans-serif;
}

.text-kaftan,
h1 {
    font-family: "Kaftanl", sans-serif;
}

.text-laobrige {
    font-family: "LaObrige", serif;
}

.swiper-wrapper {
    transition-timing-function: cubic-bezier(0.85, 0.09, 0.15, 0.91) !important;
}